@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.aboutcont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
}
.invert{
    display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns for desktop */
  grid-gap: 10px;
  width: 50vw;
}
.aboutimg{
    margin-right:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutimg img{
    width: 30vw;
    mix-blend-mode: darken;

}
.abouttext{
    width: 30vw;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgba(0, 0, 0, 0.316);
    height: 150px;
    width: 100vw;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px){

    .aboutcont{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
    }
    .aboutimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        width: 80vw;
        margin-right: 0;
    }
    .aboutimg img{
    mix-blend-mode: darken;
    width: 35vh;
    }
    .abouttext{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 80vw;
        font-size: 15px;
        height: 40vh;



    }
    .aboutimg{
        order: 1;
    }
    .abouttext{
        order: 2;
    }
    .invert{
        grid-template-columns: 1fr;
        align-items: center;
        width: 80vw;
    }
    .paddimp{
        margin-bottom: 50px;
    }
    
}