.maincont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    background-color: white;
    z-index: 3;
    top: 0;
}
.menu{
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
}

.menu span{
    height: 0.3rem;
    border-radius: 5px;
    width: 100%;
    background-color: #2b2b2b;
    background-repeat: 0.2rem;
}

.logo img {
    width: 150px;
}

.links {
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(26, 46, 53, 1);
    font-weight: 500;
    transition: .2s ease-in-out;
}
.links >.active{
    font-weight: 500;
    color: #2f7bff;

}

.links a:hover {
    transition: .2s ease-in-out;
    color: #2f7bff;
}
.serverlink{
    display: none;
}

.mainbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 8px;
    text-align: center;
    background: linear-gradient(45deg, #2f7bff, #021f41);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.texts {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    font-family: 'Poppins', sans-serif;

}


@media only screen and (max-width: 600px) {
    .maincont {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f1f1f100;
        font-family: 'Poppins', sans-serif;
        position: fixed;
        height: 40px;
        width: 100vw;
        top: 0;
        padding: 0;
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.05);
        border-radius: 0px 0px 20px 20px;
    }
    .menu{
        display: flex;
    }
    .links> .active{
        color: white;
        font-weight: 600;
    }
    .links a:hover {
        transition: .2s ease-in-out;
        color: #ffffff;
    }
    .links:hover{
        font-weight: 600;
    }
    .topcontnav{
        display: flex;
        background-color: white;
        width: 100%;
        z-index: 3;
    }
    .links {
        width: 100%;
        height: 30vh;
        flex-direction: column;
        background-color: #2f7bff;
        width: 100%;
        padding-top: 20px;
        transform: translateY(-130%);
        transition: transform 0.3s ease-in-out;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.05);


        z-index: 1;
    }
    .links#open{
        display: flex;
        transform: translateY(0%);
        transition: transform 0.3s ease-in-out;
    }

    .links a {
        color: white;
        font-size: 17px;
    }
    .logo{
        z-index: -1;;
        margin-left: 10px;
        width: 150px;
    }
    .logo img {
        width: 120px;
    }

    .menu{
        right: 0.5rem;
        top: 0.75rem;
        flex-direction: column;
        justify-content: space-between;
        width: 1.7rem;
        height: 1.2rem;
        margin-right: 10px;
    }
    .menu span{
        height: 0.3rem;
        border-radius: 5px;
        width: 100%;
        background-color: #2b2b2b;
        background-repeat: 0.2rem;
    }
    
    .links> .navlink{
        background-color: #2f7bff;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

    }
    .links> .navlink:hover{
        background-color: #1f1f1f;
    }
    .mainbottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 300px;
        color: white;
        bottom: -300px;
        font-size: 8px;
        text-align: center;
        background: linear-gradient(45deg, #2f7bff, #021f41);
        background-size: 200% 200%;
        animation: gradientAnimation 5s linear infinite;

    }

    .texts {
        flex-direction: column;
        height: 250px;
    }
}